<div class="ui inverted segment">
	<div class="ui inverted secondary pointing menu">
		<a class="active item" routerLink="/" routerLinkActive="active">
			Home
		</a>
		<a class="item" routerLink="/route" routerLinkActive="active">
			Route
		</a>
		<a class="item" routerLink="/calendar" routerLinkActive="active">
			Calendar
		</a>
		<div class="right menu">
			<div class="ui fluid category search">
				<div class="ui icon input">
					<input class="prompt" type="text" placeholder="Search">
					<i class="search icon"></i>
				</div>
				<div class="results"></div>
			</div>
		</div>
	</div>
</div>